# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Boxing Mobile Game.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Benjamin Hood\Documents\GitRepo\Personal Games\Boxing Mobile Game\.idea\.idea.Boxing Mobile Game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
